.about{
    margin: 150px ;
    text-align: center;

}
.about h1{
font-size: 2rem;
font-weight: 900;
color: rgb(5, 5, 82);
display: inline;
margin: auto;

border-bottom: 4px solid rgb(5,5,82);
}
.about  div h3{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 20px;
    color: rgb(34, 31, 31);
}
.about div p,.about h6{
 font-size: 1.2rem;
 font-weight: 400;
 color: rgb(34, 31, 31);
 width: 70%;
 margin: auto;
 margin-bottom: 30px;
 text-align: center;
 line-height: 1.2;
 letter-spacing: 1.5;
}