.contact{
    width: 100%;
    /* height: auto; */
    height: 350px;
    margin: 50px auto 0 auto;
    background-color: #1c2938;
    color: whitesmoke;
    padding: 50px 0;
    text-align: center;
}
.contact h2 {
display: inline;
    color: rgb(5, 5, 82);

border-bottom: 4px solid rgb(5,5,82);
margin: 20px;
font-size: 25px ;
font-weight: 700;

}

.copyright{
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid; */
    /* margin-bottom: -500px; */
}

.items{
    display: flex;
    width: auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 40px auto;
    text-align: center;
}

.inneritems{
    /* border: 1px solid; */
    height: 70px;
    cursor: pointer;
}
.inneritems img{
width: 30px;
margin-bottom:-20px ;

}
 .inneritems  a{
text-decoration: none;
color: white;
} 